@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.player {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.player.one img {
  width: 70px;
  height: 70px;
}
.player.two img {
  width: 60px;
  height: 60px;
}

.board {
  position: relative;
}
.board .boxes {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.board .boxes .box {
  width: 100px;
  height: 100px;
  padding: 10px;
}
.board .boxes .box.one {
  background-color: #f89d53;
}
.board .boxes .box.two {
  background: #5b518b;
  color: #fff;
}
.board .boxes .box .number {
  display: block;
  text-align: right;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.player {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.player.one img {
  width: 70px;
  height: 70px;
}
.player.two img {
  width: 60px;
  height: 60px;
}

.dice {
  background-color: #fff;
}

.welcome-message .one {
  width: 70px;
  height: 70px;
}
.welcome-message .two {
  width: 60px;
  height: 60px;
}

.font-dancing {
  font-size: 40px;
  font-weight: bold;
  color: #290447;
  font-family: "Dancing Script";
}