@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.board {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px 10px;
}
.board .boxes {
  max-width: 500px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.board .boxes .box {
  max-width: 100px;
  width: 20%;
  height: 100px;
  padding: 10px;
}
.board .boxes .box.one {
  background-color: #f89d53;
}
.board .boxes .box.two {
  background: #5b518b;
  color: #fff;
}
.board .boxes .box .number {
  display: block;
  text-align: right;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.player {
  position: absolute;
}
.player.one {
  display: none;
}
.player.one img {
  width: 70px;
  height: 70px;
}
.player.two {
  display: none;
}
.player.two img {
  width: 70px;
  height: 70px;
}

.dice-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f89d53;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}
.dice-wrapper .dice-roll:disabled {
  filter: blur(1px);
  cursor: not-allowed;
}
.dice-wrapper .dice {
  color: #290447;
  font-size: 50px;
}
.dice-wrapper .dice i {
  margin: 15px;
}

.welcome-message {
  position: fixed;
  padding: 20px;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}
.welcome-message .one {
  width: 100px;
  height: 100px;
}
.welcome-message .two {
  width: 90px;
  height: 90px;
}

.welcome-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index: 1;
}

.font-dancing {
  font-size: 45px;
  font-weight: 600;
  color: #290447;
  font-family: "Dancing Script";
}

.heading {
  font-size: 45px;
  font-weight: bold;
  padding: 10px;
}

.go .lets-roll {
  background-color: #290447;
  color: #fff;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
}

.welcome-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
  z-index: 1;
}

.who-won {
  position: fixed;
  padding: 20px;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}
.who-won .won-or-lose {
  font-size: 20px;
  padding: 20px;
}

.snakes-ladders {
  position: absolute;
  width: 100%;
  max-width: 500px;
}
.snakes-ladders .ladder-one {
  position: absolute;
  top: 331px;
  left: 186px;
  width: 150px;
}
.snakes-ladders .ladder-one img {
  width: 100%;
}
.snakes-ladders .ladder-two {
  position: absolute;
  top: 146px;
  left: 191px;
  width: 151px;
}
.snakes-ladders .ladder-two img {
  width: 100%;
}
.snakes-ladders .snake-one {
  position: absolute;
  top: 50px;
  left: 27px;
  width: 125px;
}
.snakes-ladders .snake-one img {
  width: 100%;
}
.snakes-ladders .snake-two {
  position: absolute;
  top: 261px;
  left: 40px;
  width: 188px;
}
.snakes-ladders .snake-two img {
  width: 100%;
}
.snakes-ladders .snake-three {
  position: absolute;
  top: 45px;
  left: 277px;
  width: 70px;
}
.snakes-ladders .snake-three img {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .snakes-ladders .ladder-one {
    top: 327px;
    left: 214px;
    width: 159px;
  }
  .snakes-ladders .ladder-two {
    top: 146px;
    left: 217px;
    width: 155px;
  }
  .snakes-ladders .snake-one {
    top: 50px;
    left: 15px;
    width: 164px;
  }
  .snakes-ladders .snake-two {
    top: 257px;
    left: 47px;
    width: 200px;
  }
  .snakes-ladders .snake-three {
    top: 45px;
    left: 310px;
    width: 80px;
  }
}