* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board {
  width: 500px;
  height: 500px;
  border: 2px black solid;
  display: flex;
  flex-wrap: wrap;
}
#board .box {
  width: 100px;
  height: 100px;
  border: 1px black solid;
}
#board .box .one {
  background: aqua;
}
#board .box .two {
  background: #bd39bd;
}