@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.player {
  position: absolute;
  z-index: 1;
}
.player.one img {
  width: 50px;
  height: 50px;
}
.player.two img {
  width: 50px;
  height: 50px;
}

.board .boxes {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.board .boxes .box {
  width: 100px;
  height: 100px;
  padding: 10px;
}
.board .boxes .box.one {
  background-color: #f89d53;
}
.board .boxes .box.two {
  background: #5b518b;
  color: #fff;
}
.board .boxes .box .number {
  display: block;
  text-align: right;
  font-weight: bold;
}