@import '../abstracts/variables';

.board {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;

  .boxes {
    max-width: 500px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;

    .box {
      max-width: 100px;
      width: 20%;
      height: 100px;
      padding: 10px;

      &.one {
        background-color: $box1;
      }

      &.two {
        background: $box2;
        color: $white;
      }

      .number {
        display: block;
        text-align: right;
        font-weight: bold;
      }
    }
  }
}