@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.board {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px 10px;
}
.board .boxes {
  max-width: 500px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.board .boxes .box {
  max-width: 100px;
  width: 20%;
  height: 100px;
  padding: 10px;
}
.board .boxes .box.one {
  background-color: #f89d53;
}
.board .boxes .box.two {
  background: #5b518b;
  color: #fff;
}
.board .boxes .box .number {
  display: block;
  text-align: right;
  font-weight: bold;
}