.player {
  // width: 30px;
  // height: 30px;
  // border-radius: 100px;
  position: absolute;
  z-index: 1;
  // display: none;

  &.one {
    img{
      width: 50px;
      height:50px;
    }
  }

  &.two {
    img {
      width: 50px;
      height: 50px;
    }
  }
}