.player {
  // width: 30px;
  // height: 30px;
  // border-radius: 100px;
  position: absolute;
  z-index: 1;
  // display: none;

  &.one {
    animation-duration: 1s;
    animation-direction: normal;
    
    img{
      width: 70px;
      height:70px;
    }
  }

  &.two {
    img {
      width: 70px;
      height: 70px;
    }
  }
}