.snakes-ladders {
  position: absolute;
  width: 100%;
  max-width: 500px;
}
.snakes-ladders .ladder-one {
  position: absolute;
  top: 331px;
  left: 186px;
  width: 150px;
}
.snakes-ladders .ladder-one img {
  width: 100%;
}
.snakes-ladders .ladder-two {
  position: absolute;
  top: 146px;
  left: 191px;
  width: 151px;
}
.snakes-ladders .ladder-two img {
  width: 100%;
}
.snakes-ladders .snake-one {
  position: absolute;
  top: 50px;
  left: 27px;
  width: 125px;
}
.snakes-ladders .snake-one img {
  width: 100%;
}
.snakes-ladders .snake-two {
  position: absolute;
  top: 261px;
  left: 40px;
  width: 188px;
}
.snakes-ladders .snake-two img {
  width: 100%;
}
.snakes-ladders .snake-three {
  position: absolute;
  top: 45px;
  left: 277px;
  width: 70px;
}
.snakes-ladders .snake-three img {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .snakes-ladders .ladder-one {
    top: 327px;
    left: 214px;
    width: 159px;
  }
  .snakes-ladders .ladder-two {
    top: 146px;
    left: 217px;
    width: 155px;
  }
  .snakes-ladders .snake-one {
    top: 50px;
    left: 15px;
    width: 164px;
  }
  .snakes-ladders .snake-two {
    top: 257px;
    left: 47px;
    width: 200px;
  }
  .snakes-ladders .snake-three {
    top: 45px;
    left: 310px;
    width: 80px;
  }
}