@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.font-dancing {
  font-size: 40px;
  font-weight: 600;
  color: #290447;
  font-family: "Dancing Script";
}

.heading {
  font-size: 45px;
  font-weight: bold;
  padding: 10px;
}

.go .lets-roll {
  background-color: #290447;
  color: #fff;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
}