@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


$background: forestgreen;
$box1: rgb(248, 157, 83);
$box2:rgb(91, 81, 139);
$white: #fff;
$black: #111;
$welcome: rgb(41, 4, 71);